<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit a list
    </h1>

    <input #listInput class="input has-background-light is-medium"
           type="text"
           placeholder="Enter the list name"
           [(ngModel)]="listTitle">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <a class="button is-info is-medium" (click)="updateList(listInput.value)">
        Edit
      </a>
    </div>

  </div>
</div>
